div#parent {
    height: 100vh;
    width: 100vw;
    padding: 5px;
}

div#livechat {
    position: absolute;
    display: none;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 344px;
    height: 500px;
    bottom: 75px;
    right: 30px;
    background-color: #0887CD;
}

div#chatbutton_container {
    position: absolute;
    bottom: 20px;
    right: 30px;

}

div#chatbutton {
    background: #E97217;

}

div#header-first{
    border-radius: 8px 8px 0 0;
    height: 40px;
    width: 100%;
    background-color: #0887CD;
}
div#header-second{
    padding-left: 10px;
    height: 64px;
    width: 100%;
    background-color: white;
}

div#body{
    height: 60%;
    width: 100%;
    background-color: #0E4F89;

}

div#footer{
    border-radius: 0 0 8px 8px;
    height: 20%;
    width: 100%;
    padding-top: 20px;
    background-color: #0887CD;
}

div#logo{
    display: inline-block;
    height:64px;
    width:185px;
    padding-top: 3px;
    padding-bottom: 3px;
}

img#logo{
    display: inline-block;
    height: auto;
    width: auto;
    vertical-align: middle;
}

div#chat_message{
    margin-left: 20px;
}