div#parent {
    height: 100vh;
    width: 100vw;
    padding: 5px;
}

div#livechat {
    position: absolute;
    display: none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 342px;
    height: 580px;
    bottom: 75px;
    right: 30px;

}

div#chatbutton_container {
    position: absolute;
    bottom: 20px;
    right: 30px;

}

div#chatbutton {
    background: #E97217;

}

div#header-first{
    border-radius: 8px 8px 0 0;
    height: 6.9%;
    width: 100%;
    background-color: #0887CD;
}
div#header-second{
    padding-left: 10px;
    height: 11.03%;
    width: 100%;
    background-color: white;
}

div#body{
    height: 56.704%;
    width: 100%;
    background-color: #0E4F89;

}

div#footer{
    border-radius: 0 0 8px 8px;
    height: 25.366%;
    width: 100%;
    padding-top: 8px;
    background-color: #F8F8F8;
}

div#logo{
    display: inline-block;
    height:64px;
    width:185px;
    padding-top: 3px;
    padding-bottom: 3px;
}

img#logo{
    display: inline-block;
    height: auto;
    width: auto;
    vertical-align: middle;
}

div#chat_message{
    padding-left: 23px; 
    padding-right: 23px;
}

div#chat_sendButton{
    padding-left: 10px; 
}

textarea {
    display: inline-block;
    overflow: auto;
    border-radius: 5px;
    resize: none;
    outline: none;
    border: 0;
    height: 76px;
    width: 100%;
    background-color: white;
    font-family: Noto Sans,sans-serif;
    font-weight: 300;
    font-size: 1rem;

}

#chat_attachButton,#chat_sendButton {
    padding-top: 0px;
    text-align: center;

}

button {
    color: #E97217;
    border-color: #E97217;
    background-color: #F8F8F8;
}
